.container
	margin: 0 auto
	max-width: 1200px

.header
	display: flex
	align-items: center
	justify-content: space-between
	margin-bottom: 40px
.search-input
	width: 690px
	height: 40px
	border: 1px solid $search
	box-sizing: border-box
	border-radius: 2px
	background: #FFFFFF
	font-size: 16px
	line-height: 24px
	background-image: url(../img/home.svg)
	background-repeat: no-repeat
	background-position: left 11px center
.btns
	display: flex
	align-items: center
.btn
	background-color: #fff
	padding: 8px 16px
	border: 1px solid $search
	border-radius: 2px
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015)
	color: #595959
	font-size: 16px
	line-height: 24px
.btn-prime
	background-color: $btn-primary
	border: 1px solid $btn-primary
	color: #fff
	margin-right: 10px
.btn-icon
	margin-left: 6px